.title-new{
	margin-top: 70px;
	margin-bottom: 60px;
}

.new-list{
	margin-top : 40px;
	margin-bottom : 50px;
	.item{
		.type{
			background :#E7A50F;
			color : #000000;
			border-radius: 50px;
			padding: 2px;
		}
	}
	hr{
		width: 93%;
		text-align: center;
		margin: auto;
		display: block;
		margin-top: 15px;
	}
}

.pagination-new{
	justify-content: center;
	.page-item{
		.page-link{
			border: unset;
			color: #1A1A1A;
		}
	}

}