/node_modules
/public/hot
/public/css/*
/public/js/*
/public/mix-manifest.json
/public/storage
/public/csv_file/user/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
