@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&display=swap");
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "user/abstracts/mixins";
@import "common/loader";
@import "user/page/login";
@import "user/abstracts/mixins";
@import "user/page/register";
@import "user/page/contact";
@import "user/page/terms";
@import "user/page/news";
@import "user/custom";
@import "user/layout/header";
@import "user/layout/footer";
@import "user/page/favorite";
@import "user/page/companyContact";
@import "user/page/companyProfile";
@import "user/page/_top";
@import "user/page/_search";
@import "user/new/list";
@import "user/page/application";
@import "user/page/profile";
@import "user/page/contactSuccess";