.page-company-profile {
  padding: 80px;
  @media screen and (max-width: 768px) {
    padding: 15px;
    margin: 0 10px;
  }
  .page-title {
    margin-bottom: 80px;
    font-weight: 700;
  }
  .item {
    padding: 15px 0;
    border-top: 1px solid #CECECE;
  }
  span {
    line-height: 20px;
    font-size: 15px;
    color: #101010;
    font-weight: normal;
    font-family: "Noto Sans", sans-serif;
  }
  .pl-0 {
    padding-left: 0;
  }
}