.page-contact {
    padding: 85px 0 100px;
    @include mq-xs() {
        padding: 50px 25px 60px;
    }
    hr {
        background-color: #D3D3D3;
    }
    .contact-form {
        max-width: 664px;
        margin: 0 auto;
        
        .col-6 {
            &:first-child {
                padding-right: 6px;
            }
            &:last-child {
                padding-left: 6px;
            }
        }
        .form-control {
            // background-color: #F5F5F5;
            background-color: #F7F7F7;
            border: unset;
        }
        .d-lbl {
            margin-top: 11px;
        }
        .contact-txt {
            font-size: 15px;
            @include mq-xs() {
                font-size: 13px;
            }
        }
        .required {
            // float: right;
            background: #FD3434;
            color: #fff;
            padding: 3px 7px;
            font-size: 10px;
            border-radius: 5px;
            line-height: 14px;
            &.black {
                background-color: #000000;
            }
        }
        input, textarea {
            height: 45px;
            &::placeholder {
                color: #B2B2B2;
                font-size: 15px;
            }
        }
        textarea {
            height: 264px;
        }
    }
    .page-title {
        margin-bottom: 70px;
        @include mq-xs() {
            margin-bottom: 53px;
            line-height: 50px;
            text-align: left;
            padding-left: 14px;
        }
    }
    .custom-radio {
        input {
            top: 6px;
            height: auto;
        }
    }
    .form-group {
        .form-group-label {
            font-size: 15px;
            line-height: 55px;
        }
        .form-group-input {
            .form-control {
                border-radius: 5px;
                min-height: 45px;
            }
        }
    }
    .btn-form-submit {
        background: #98bcd7;
        color: #fff;
        margin-top: 100px;
        font-weight: 700;
        span {
            margin-right: 5px;
        }
    }
    button.active {
        background: #0068B5;
        color: #fff;
        margin-top: 100px;
        font-weight: 700;
        span {
            margin-right: 5px;
        }
    }
    .policy-radio {
        height: 28px !important;
    }
}