.card-register {
    padding: 40px 20px;
    .d-lbl {
        margin-top: 11px;
    }
}

.card-done-register {
    padding: 40px 90px 10px 90px;
}

.logo-register {
    padding: 30px;
    img {
        width: 285px;
        position: relative;
        text-align: center;
        display: block;
        margin: auto;
    }
}

.form-login {
    border-radius: 0.6rem;
}

.btn-login {
    border-radius: 0;
}

.c-app {
    .background-over.bg-register {
        min-height: 1600px;
        @media only screen and (max-width: 1440px) {
            min-height: 1500px;
        }
        &.active {
            min-height: 2000px;
            @media only screen and (max-width: 1440px) {
                min-height: 1950px;
            }
        }
    }
    .background-over.bg-done-register {
        min-height: 700px;
    }
}
.custom-radio {
    position: relative;
    label {
        margin-left: 26px;
    }
    input {
        top: 0;
        width: 15px;
        height: 20px;
        position: absolute;
        line-height: 20px;
    }
}
.ml-11 {
    margin-left: 11px;
}
.page-register {
    margin-top: 40px;
    position: relative;
    z-index: 1;
    .formRegister {
        .required {
            float: right;
            background: #FD3434;
            color: #fff;
            padding: 3px 7px;
            font-size: 10px;
            border-radius: 5px;
            line-height: 14px;
        }
        .no-required {
            float: right;
            background: #000000;
            color: #fff;
            padding: 3px 7px;
            font-size: 10px;
            border-radius: 5px;
            line-height: 14px;
        }
        input {
            background: #F7F7F7;
            border: unset;
            margin-bottom: 2px;
            padding: 0.757rem 0.75rem;
            &::placeholder {
                color: #B2B2B2;
                font-size: 15px;
                line-height: 131px;
            }
        }
        textarea {
            border-radius: unset;
            border: unset;
            background: #F7F7F7;
            &::placeholder {
                color: #B2B2B2;
                font-size: 15px;
            }
        }
        hr {
            width: 93%;
            color: #D3D3D3;
        }
        .option-skills {
            margin: 5px;
            background: #F7F7F7;
            display: flex;
            cursor: pointer;
        }
        .list-option {
            display: none;
            background: #F7F7F7;
            .desired-work-radio {
                .form-group {
                    display: inline-table;
                    padding-right: 40px;
                }
            }
            input {
                background: #fff;
            }
            &.active {
                display: block;
            }
            textarea {
                background: #fff;
                height: 170px;
            }
        }
        .form-group span.area-item {
            margin-right: 20px;
            display: inline-block;
            height: 20px;
            position: relative;
            label {
                margin-left: 26px;
            }
            input {
                top: 0;
                width: 15px;
                height: 20px;
                position: absolute;
                margin-top: 2px;
                line-height: 20px;
            }
        }
        p {
            color: var(--cui-input-placeholder-color, #8a93a2);
            opacity: 1;
            font-size: 14px;
            margin-top: 15px;
        }
        .thank-you {
            color: #0068B5;
            font-size: 15px;
        }
        .title-done {
            font-size: 30px;
            font-weight: 600;
        }
        .text-url-email {
            color: #5C5C5C;
            color: 11px;
        }
        textarea[name="other_requests"] {
            font-size: 15px;
        }
        textarea[name="experience_skills_detail"] {
            font-size: 15px;
            line-height: 21px;
        }
        textarea[name="other_requests"]::-webkit-input-placeholder {
            font-size: 15px;
            line-height: 27.5px;
        }
        input[name="email"]::-webkit-input-placeholder,
        input[name="phone_number"]::-webkit-input-placeholder,
        input[name="experience_skills_year"]::-webkit-input-placeholder,
        input[name="experience_skills_month"]::-webkit-input-placeholder,
        input[name="experience_skills_day"]::-webkit-input-placeholder,
        input[name="phone_number"]::-webkit-input-placeholder,
        input[name="nearest_station_name"]::-webkit-input-placeholder {
            font-size: 15px;
            line-height: 21px;
        }
        input[name="email"],
        input[name="phone_number"],
        input[name="experience_skills_year"],
        input[name="experience_skills_month"],
        input[name="experience_skills_day"],
        input[name="year"],
        input[name="month"],
        input[name="day"],
        input[name="nearest_station_name"],
        {
            font-size: 15px;
            line-height: 21px;
        }
        input[name="hira_first_name"],
        input[name="hira_last_name"],
        input[name="kata_first_name"],
        input[name="kata_last_name"],
        .desired-work-radio .custom-radio label {
            font-size: 15px;
            line-height: 20px;
        }
        input[name="year"],
        input[name="experience_skills_year"] {
            width: 66px;
            height: 45px;
        }
        input[name="month"],
        input[name="experience_skills_month"] {
            width: 48px;
            height: 45px;
        }
        input[name="day"],
        input[name="experience_skills_day"] {
            width: 48px;
            height: 45px;
        }
        input[name="year"],
        input[name="month"],
        input[name="day"],
        input[name="experience_skills_year"],
        input[name="experience_skills_month"],
        input[name="experience_skills_day"] {
            text-align: center;
        }
    }
    .btn-register {
        background: #0068B5;
        color: #fff;
        width: 199px;
        height: 46px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        &:hover {
            background: #0877ca;
            color: #fff;
        }
    }
}

.title-register {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
}

.bg-f7 {
    background: #F7F7F7;
}

.font-11 {
    font-size: 11px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.redirect-login a {
    color: #1A1A1A;
}

@media (min-width: 576px) {
    .page-register {
        .col-sm-3 {
            width: 30%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .r-mb-1 {
        margin-bottom: 0.5rem;
    }
    .r-mb-2 {
        margin-bottom: 1rem;
    }
    .r-mt-1 {
        margin-top: 0.5rem;
    }
    .r-mt-2 {
        margin-top: 1rem;
    }
    .r-w-30 {
        width: 30% !important;
    }
    .r-w-35 {
        width: 35% !important;
    }
    .r-w-60 {
        width: 60% !important;
    }
    .r-w-90 {
        width: 90% !important;
    }
    .r-w-100 {
        width: 100% !important;
    }
    .page-register .formRegister .list-option .desired-work-radio .form-group {
        padding-right: 22px;
    }
    .c-app {
        .background-over.bg-register {
            min-height: 1900px;
            &.active {
                min-height: 2500px;
            }
        }
        .background-over.bg-done-register {
            min-height: 850px;
        }
    }
    .card-done-register {
        padding: 25px;
    }
}

.swal2-styled.swal2-confirm {
    background-color: #2778c4 !important;
}

.swal2-title {
    font-size: 20px !important;
    line-height: 23px;
}