.search-left {
    border-right: 1px solid #ccc;

    .search-filter-box {
        .box-title {
            &.open {
                border-bottom: 1px solid #4F96CC;
                padding-bottom: 10px;
            }
        }
    }
    .btn-search_ex {
        border: 1px solid black;
        width: 159px;
        height: 46px;
        font-weight: 700;
        line-height: 20px;
        font-size: 15px;
        background-color: #0068B5;
        color: #FFFFFF;
        //@include mq-xl() {
        //    width: 50%;
        //}
        @media screen and (max-width: 768px) {
            width: 50%;
        }
    }
    .btn-search {
        border: 1px solid black;
        width: 159px;
        height: 46px;
        font-weight: 700;
        line-height: 20px;
        font-size: 15px;
        //@include mq-xl() {
        //    width: 50%;
        //}
        @media screen and (max-width: 768px) {
            width: 50%;
        }
    }
}

.search-right {
    .search-result {
        &-title {
            border-bottom: 2px solid var(--bs-primary);
        }
    }
    .title-search-filter {
        font-size: 30px;
        line-height: 40px;
    }
    @include mq-xs() {
        .title-search-filter {
            font-size: 20px;
        }
    }
    .search-filter-select {
        label {
            position: relative;
            &:after {
                content: "";
                background-image: url("/../assets/img/user/ic_arrow_down.png");
                position: absolute;
                right: 20px;
                top: calc(50% - 10px);
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                display: inline-block;
                box-sizing: border-box;
                color:#000;
                margin-left:-17px;
                pointer-events:none;
            }
        }
        .form-select {
            &::-ms-expand {
                display: none;
            }
            background-image: unset;
            min-width: 156px;
            height: 43px;
            border-radius: 5px;
            border: 1px solid #fff;
            padding-left: 15px;
            font-size: 14px;
            color: #1A1A1A;
            box-shadow: 0 0 10px rgba(0,0,0,10%);
            cursor: pointer;
            line-height: 19px;
            option {
                zoom: 1.2;
            }
        }
        .ic-arrow-down {
            display: inline-flex;
            background-color: #0068B5;
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: absolute;
            top: calc(50% - 10px);
            right: 20px;
        }
    }
}

.search-suggest {
    background-color: rgb(248, 248, 248);
    padding-bottom: 65px;
    @media screen and (max-width: 768px) {
        height: auto;
    }
    .bg-white {
        background-color: rgb(248, 248, 248) !important;
    }
    @include mq-xs() {
        padding-bottom: 50px;
        .container {
            padding: 0;
        }
    }
    .job-slider-container {
        .favorite-card-container {
            .favorite-card-footer {
                padding: 0px 15px 36px;
            }
            @include mq-md() {
                .favorite-card-footer {
                    padding: 0px 15px 30px;
                }
            }
        }
    }
}

.tag-list {
    display: flex;
    margin-bottom: 30px;
    padding: 0 8px;
    .tag-item {
        height: 20px;
        line-height: 18px;
        font-size: 10px;
        background-color: #F0F0F0;
        padding: 0 6px;
        width: auto;
        margin-right: 10px;
        margin-top: 5px;
    }
}

.search-detail-content {
    .s-detail-header {
        .content-title {
            font-size: 20px;
            line-height: 32px;
            font-weight: bold;
            color: #1A1A1A;
        }
    }
}

.search-detail-container {
    .btn-txt {
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        display: inline-block;
        margin-right: 8px;
        line-height: 20px;
    }
    .btn-app {
        border: 1px solid transparent;
        border-radius: 0;
        outline: none;
    }
    .search-right {
        .search-detail-content {
            padding: 48px 24px 86px;
            @include mq-xs() {
                padding: 0 24px;
            }
            @include mq-sm() {
                padding: 48px 0;
            }
            @include mq-xl() {
                padding: 48px 36px;
            }
            .s-detail-header {
                .content-title {
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: bold;
                    padding: 14px 16px 14px 16px;
                    background-color: #F7F7F7;
                    margin-bottom: 40px;
                }
                .app-subtitle {
                    font-size: 15px;
                    line-height: 30px;
                    color: #1A1A1A;
                    margin-bottom: 4px;
                }
                .app-price {
                    font-size: 30px;
                    line-height: 30px;
                    color: #C92D27;
                    font-weight: bold;
                    display: inline-block;
                    margin-right: 28px;
                    @include mq-xs() {
                        margin-bottom: 5px;
                    }
                }
                .btn-add-favorite {
                    height: 46px;
                    padding: 0 35px 0 49px;
                    background-color: #E49B26;
                }
            }
            .s-detail-body {
                margin-top: 30px;
            }
            .s-detail-footer {
                margin-top: 106px;
                .application-btn {
                    .btn-apply {
                        padding: 0 32px 0 49px;
                        height: 46px;
                        margin-bottom: 12px;
                        background-color: #0068B5;
                    }
                    .btn-back {
                        font-size: 13px;
                        line-height: 30px;
                        color: #1A1A1A;
                    }
                }
            }
        }
    }
}

.search-filters{
    padding: 10px 23px 10px 0px;
    .title-line{
        > span {
            line-height: 20px; 
            font-weight: 700;
            font-size: 15px;
            background: white;
        }
    }
    .search_input{
        font-size: 15px;
        line-height: 20px;
        &::-webkit-input-placeholder {
            font-size: 15px;
            line-height: 20;
        }

        @media screen and (max-width: 1440px) {
            width: 287px;
        }
    }
    .fa-search{
        //transform: scale(1.1,1);
        width: 34px;
        height: 34px;
        &:before {
            font-size: 34px;
        }
    }
    .ml-14{
        margin-left: 14px;
    }
    .pl-5{
        padding-left: 5px;
    }
    .ml-5{
        margin-left: 5px;
    }
    .box-item{
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        padding: 16.3px 10px 16.3px 15px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .chevron-circle-down{
        background: url(/images/chevron-circle-down.svg);
        width: 20px;
        height: 20px;
    }
    .box-values{
        input{
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        .form-check-label{
            padding-top: 2px;
            line-height: 20px
        }
    }
    .countup-wrap{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        margin-right: 5px;
    }
    .box-total-item{
        background-color: #F7F7F7;
        padding: 19px;
        margin: 0px 0px 0px 5px;
    }
}

.search-suggest{
    .recommended-projects{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
    }
    .favorite-card {
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}
.search-modal {
    .search-modal-body {
        .search-left {
            border-right: unset;
        }
        .search-filters {
            padding: 0 0 10px;
        }
    }
}
@include mq-xs() {
    .search-condition {
        display: none;
        visibility: hidden;
    }
}
.search-section {
    background-color: #F8F8F8;
    .section-search-wrapper {
        padding: 65px 0 98px;
        @include mq-xs() {
            padding: 50px 0 80px;
        }
    }
    .section-title {
        margin-bottom: 16px !important;
    }
    .section-desc {
        margin-bottom: 61px;
        @include mq-xs() {
            margin-bottom: 33px;
        }
    }
    .search-container {
        #formSearch {
            margin-bottom: 40px;
        }
        .form-select {
            height: 55px;
            font-size: 15px;
            line-height: 20px;
        }
        .top-banner-button {
            margin-top: 39px;
            .btn-top-search {
                width: 199px;
                height: 46px;
                font-size: 15px;
                line-height: 20px;
                font-weight: bold;
                background-color: #0068B5 !important;
                padding: 0;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                .ic-arrow-right {
                    display: inline-block;
                    margin-left: 26px;
                }
            }
        }
        .total-job-search {
            font-size: 15px;
            line-height: 20px;
            margin-top: 10px;
        }
        .search-detail-header {
            margin-top: 18px;
            font-size: 15px;
            line-height: 20px;
        }
        .search-addition {
            padding: 26.5px 0 58px;
            font-size: 15px;
            line-height: 20px;
        }
        .search-detail-title {
            font-weight: 700;
        }
    }
    .search-detail {
        .search-detail-col {
            .th-text {
                height: auto;
            }
        }
    }
}
.search-modal {
    .modal-content {
        .modal-header {
            margin-bottom: 12px;
            .modal-title {
                font-size: 15px;
                line-height: 20px;
                color: #1A1A1A;
                font-weight: 700;
            }
        }
        .search-modal-content {
            .search-filters {
                .search-filter-header {
                    width: 100%;
                    position: fixed;
                    left: 0;
                    padding: 0 34px 12px;
                    background-color: #fff;
                    z-index: 999;
                }
                .search-input-container {
                    height: 34px;
                    display: flex;
                    justify-content: center;
                    input {
                        height: 100%;
                        width: calc(100% - 69px);
                        font-size: 13px;
                        color: #1A1A1A;
                    }
                    .ic-search {
                        width: 69px;
                        height: 34px;
                        background-color: #0068B5;
                        border-radius: 53px;
                        margin-left: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .fa-search {
                            color: #fff;
                            width: auto;
                            height: auto;
                            font-size: 20px;
                            &:before {
                                font-size: unset;
                            }
                        }
                    }
                }
                .search-item-header {
                    margin-top: 20px;
                    a {
                        font-size: 10px;
                        color: #1A1A1A;
                        font-weight: bold;
                        width: calc(100% / 6);
                        display: inline-block;
                        border-right: 1px solid #ccc;
                        border-top: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        padding: 5px 0;
                        text-align: center;
                        span {
                            display: block;
                            font-size: 80%;
                            color: #707070;
                        }
                        &:first-child {
                            border-left: 1px solid #ccc;
                        }
                    }
                }
                .search-filter-box {
                    padding: 105px 27px 84px;
                    .box-item {
                        box-shadow: unset;
                        padding: 0;
                        margin-bottom: 0;
                        &.box-item-type-job {
                            .box-values {
                                border-left: unset;
                                padding: 10px 7px 0;
                            }
                        }
                        .box-item-title {
                            height: 36px;
                            background-color: #383838;
                            border-radius: 3px;
                            line-height: 36px;
                            padding: 0 13px;
                            font-size: 13px;
                            font-weight: bold;
                            color: #fff;
                        }
                        .box-values {
                            margin: 0 7px;
                            padding: 10px 7px;
                            border-left: 0.5px solid #ccc;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            .form-check {
                                width: calc(50% - 3px);
                                border: 1px solid #ccc;
                                border-radius: 3px;
                                margin-bottom: 8px;
                                min-height: 31px;
                                padding: 0 10px;
                                display: flex;
                                align-items: center;
                            }
                        }
                        input {
                            width: 10px;
                            height: 10px;
                            border-radius: 2px !important;
                            border: 1px solid #ccc;
                            display: inline-block;
                            margin: 0 6px 0 0;
                        }
                        label {
                            font-size: 11px;
                            line-height: 15px;
                            padding-top: 0;
                            &:not(.search-sub-heading-label) {
                                flex: 1;
                                color: #1A1A1A;
                            }
                        }
                        .ic-arrow-down {
                            width: 31px;
                            height: 31px;
                            line-height: 30px;
                            text-align: right;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            &[aria-expanded="true"] {
                                img {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                        .box-area {
                            border-left: 1px solid #ccc;
                            margin-left: 7px;
                            padding: 10px 0;
                            .form-check {
                                padding: 0 0 0 10px;
                                margin: 10px 0 8px;
                            }
                            > .form-check {
                                &:first-of-type {
                                    margin: 0 0 8px;
                                }
                                &:last-of-type {
                                    margin: 0;
                                }
                            }
                            .box-area-value {
                                background-color: #7D7D7D;
                                border-radius: 3px;
                                height: 31px;
                                padding: 0 12px;
                                display: flex;
                                align-items: center;
                                label {
                                    color: #fff;
                                }
                            }
                        }
                        .box-area-child {
                            .form-check {
                                height: 31px;
                                border-radius: 3px;
                                display: flex;
                                align-items: center;
                                margin: 5px 0 0 10px;
                                padding: 0 10px;
                                background-color: #C4C4C4;
                                label {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .search-filter-footer {
                padding: 0 27px;
                height: 83px;
                display: flex;
                align-items: center;
                background-color: #383838;
                border-radius: 3px;
                color: #fff;
                position: fixed;
                width: 100%;
                bottom: 0;
                z-index: 9999;
                .txt-total {
                    font-size: 10px;
                    line-height: 14px;
                    margin-bottom: 0;
                    text-align: center;
                }
                .countup-wrap {
                    font-size: 20px;
                    line-height: 27px;
                    font-weight: bold;
                }
                .total-job-txt {
                    font-size: 20px;
                    font-weight: bold;
                }
                .total-result {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35%;
                }
                .search-modal-btn {
                    width: 65%;
                }
                button {
                    width: 97px;
                    height: 34px;
                    font-size: 12px;
                    border-radius: 53px;
                    &.btn-clear-condition {
                        background-color: #fff;
                        padding: 0 9px;
                        margin-right: 9px;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    &.btn-modal-search {
                        background-color: #0068B5;
                        color: #fff;
                        padding: 0 23px;
                        img {
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }
}